#root {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.documentation {
    height: 100%;
    position: relative;
    text-align: center;
}

.home {
    height: 100%;
    position: relative;
    text-align: center;
}

.home-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    padding: 0 3em;
}

.home-action {
    font-size: 1.3em;
    margin: 0.5em;
}

.home-title {
    margin: 5em auto;
}

.mainTitle {
    font-size: 2em;
    line-height: initial;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
}

.subtitle {
    font-size: 1em;
    line-height: initial;
    text-align: center;
    width: 100%;
    margin: 0px;
}

.home-logo {
    height: 4em;
    vertical-align: middle;
}

.documentsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em auto;
    padding-inline: 0;
}

.documentItem {
    display: flex;
    width: 40vw;
    height: 40vw;
    justify-content: space-around;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: solid 1px #eeeeee;
    margin: 0.5em;
}

.documentItem-thumb {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.documentItem-overlay {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.documentItem.selected .documentItem-overlay {
    display: flex;
}

.documentItem-actions {
    display: flex;
    justify-content: space-around;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav button {
    background: none;
}

.nav button img {
    width: 30px;
    height: 30px;
}

.content {
    width: 100%;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

.registers {
    width: 100%;
    height: 100%;
}

.registersGrid {
    display: grid;
    grid-template-columns: repeat(10, calc(10vw - 1px));
    grid-template-rows: repeat(40, calc(10vw - 1px));
    gap: 1px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.registerCell {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.registerDetails {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 80vw;
    padding: 5%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.registerDetails-header {
    display: flex;
    justify-content: space-between;
    gap: 0.1em;
}

.registerDetails-name {
    max-width: 50%;
    border: none;
    background-color: #eeeeee;
    font-size: 1.1em;
    font-weight: 400;
    padding: 0.5em 1em;
}

.code {
    height: 100%;
    overflow: hidden;
    font-family: monospace;
    display: flex;
    flex-direction: column;
}

.codeList {
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    margin: 10px;
}

.codeDeleteBtn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.sourceLine p {
    margin: 2px;
    padding: 2px;
}
.sourceLine p * {
    pointer-events: none;
}

.sourceLine.selected p * {
    pointer-events: auto;
}

.sourceLine.selected p {
    background-color: #eeeeee;
}

.codeRegister {
    padding: 2px 3px;
    border-radius: 3px;
}

.inputSelection {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
}

.registerPicker {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.insertionButton {
    width: 100%;
}

.instructionsMenu {
    width: 100%;
    background-color: #eeeeee;
    text-align: center;
}

.instructionsMenu ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-wrap: wrap;
}

.instructionsMenu li {
    list-style: none;
    flex-grow: 1;
    margin: 2px;
}

.instructionsMenu button {
    padding: 10px;
    width: 100%;
}

.valueInput {
    display: flex;
}
.valueInput,
.valueInput select,
.valueInput input {
    /* font-size:1.2rem; */
}
